<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>

</head>

<body>

<div th:insert="fragments/header :: header"></div>
<div th:insert="fragments/header :: header-css"></div>

Добавить нового пользователя
<br><br>

<div th:if="${message}">
    <div>Пользователь с данным почтовым ящиком уже существует!</div>
</div>

<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
<form th:method="POST" th:action="@{/registration}" th:object="${users}">

    <fieldset>
        <div class="form-group">
            <input type="text" th:field="*{email}" name="email" id="email" class="form-control input-lg" placeholder="Введите адрес электрнной почты"/>
        </div>

        <div class="form-group">
            <input type="text" th:field="*{username}" name="username" id="username" class="form-control input-lg" placeholder="Придумайте имя пользователя"/>
        </div>

        <div class="form-group">
            <input type="password" th:field="*{password}" name="password" id="password" class="form-control input-lg" placeholder="Задайте пароль"/>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Зарегистрироваться"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
            </div>
        </div>
    </fieldset>

</form>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>
</html>