<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PiggyBank</title>
<!--  <script src = "https://MomentJS.com/downloads/moment.js" ></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--  <script src="https://code.highcharts.com/highcharts.js"></script>-->

<!--  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
  <div th:insert="fragments/header :: header-css"></div>

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">

  <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

  <script>
    $(document).ready(function() {
      $('table.display').DataTable( {
        dom: 'B',
        // dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      } );
    } );
  </script>

</head>
<body>

<div th:insert="fragments/header :: header"></div>

<div style="font-size: 18px" th:id="${inflow}" th:text="${inflow}" id="inflow"></div>
<div style="font-size: 18px" th:id="${outflow}" th:text="${outflow}" id="outflow"></div>
<br>
<div style="font-size: 18px" th:id="${result}" th:text="Итого + ': ' + ${result}" id="result"></div>

<button type="button" class="btn btn-light" id="previousMonth" href="">Прошлый месяц</button>
<button type="button" class="btn btn-light" id="nextMonth" href="">Следующий месяц</button>

<br><br>

<form th:method="POST" th:action="@{/transactionsMonth}" th:object="${incomeMonthOperations}">

  <table id="incomeTable" class="display" style="width:100%">
    <thead>
    <tr>
      <th>Название поступления</th>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Описание поступления</th>
      <th>Изменение поступления</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="incdet : ${incomeMonthOperations}">
      <td th:text="${incdet.incomeCategories.name}"></td>
      <td id="income" th:text="${incdet.date}"></td>
      <td th:text="${incdet.amount}"></td>
      <td th:text="${incdet.note}"></td>
      <td><a th:href="@{/{id}/editIncomeMonth(id=${incdet.getId()})}">Изменить</a></td>

  </table>
</form>

<br>

<form th:method="POST" th:action="@{/transactionsMonth}" th:object="${expenseMonthOperations}">

  <table id="expenseTable" class="display" style="width:100%">
    <thead>
    <tr>
      <th>Название траты</th>
      <th>Дата</th>
      <th>Сумма</th>
      <th>Описание траты</th>
      <th>Изменение траты</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="expdet : ${expenseMonthOperations}">
      <td th:text="${expdet.expenseCategories.name}"></td>
      <td id="expense" th:text="${expdet.date}"></td>
      <td th:text="${expdet.amount}">
      <td th:text="${expdet.note}"></td>
      <td><a th:href="@{/{id}/editExpenseMonth(id=${expdet.getId()})}">Изменить</a></td>

    </table>
</form>

<br><br>

<div class="col-xl-4 col-lg-5" style="margin-left: 260px">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <div id="chartContainerIncome" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>

</div>

<div class="col-xl-4 col-lg-5" style="margin-left: 950px; margin-top: -459px">
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="chart-pie pt-4 pb-2">
        <div id="chartContainerExpense" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div th:insert="fragments/footer :: footer"></div>

</body>

<script src="previousTransactionsMonth.js"></script>
<script src="nextTransactionsMonth.js"></script>

<script th:inline="javascript">
  (function () {
    var countIncomeByCategoryId = /*[[${countIncomeByCategoryId}]]*/ [];

    var series = [];
    var data = [];

    for (var i = 0; i < countIncomeByCategoryId.length; i++) {
      var object = {};
      object.name = countIncomeByCategoryId[i].name.toUpperCase();
      object.y = countIncomeByCategoryId[i].amount;
      data.push(object);
    }
    var seriesObject = {
      name: 'Income by CategoryId',
      colorByPoint: true,
      data: data
    };
    series.push(seriesObject);
    drawPieChart(series);

    function drawPieChart(series) {
      Highcharts.chart('chartContainerIncome', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Поступления'
        },
        tooltip: {
          formatter: function () {
            return '<strong>' + this.key + ': </strong>' + this.y;
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.y}'
            }
          }
        },
        series: series
      });
    }

  })();
</script>

<script th:inline="javascript">
  (function () {
    var countExpenseByCategoryId = /*[[${countExpenseByCategoryId}]]*/ [];

    var series = [];
    var data = [];

    for (var i = 0; i < countExpenseByCategoryId.length; i++) {
      var object = {};
      object.name = countExpenseByCategoryId[i].name.toUpperCase();
      object.y = countExpenseByCategoryId[i].amount;
      data.push(object);
    }
    var seriesObject = {
      name: 'Income by CategoryId',
      colorByPoint: true,
      data: data
    };
    series.push(seriesObject);
    drawPieChart(series);

    function drawPieChart(series) {
      Highcharts.chart('chartContainerExpense', {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
        },
        title: {
          text: 'Траты'
        },
        tooltip: {
          formatter: function () {
            return '<strong>' + this.key + ': </strong>' + this.y;
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              format: '<b>{point.name}</b>: {point.y}'
            }
          }
        },
        series: series
      });
    }
  })();
</script>

</html>